/* ==========================================================================
   MY CUSTOM
   ========================================================================== */

.highlighter-rouge {
	background-color: rgb(44, 44, 44);
  color: #EAEAEA;
}

.page__date {
  // 유동적으로 변하게!
  font-size: 13px;
}
