/* ==========================================================================
   MY CUSTOM
   ========================================================================== */

.highlighter-rouge {
	background-color: rgb(49, 49, 49);
	color: #EAEAEA;
	font-weight: bold;
}
